@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

@keyframes rotate {
  0%,
  100% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180);
  }
}

.rotate-animation {
  animation: rotate 4s ease-in infinite;
}

.float-animation {
  animation: float 8s ease-in-out infinite;
}

/* ONLY ORANGE */
/* @layer base {
  :root {
    --background: 24 60% 98%;
    --foreground: 24 52% 3%;
    --muted: 24 13% 85%;
    --muted-foreground: 24 5% 32%;
    --popover: 24 60% 98%;
    --popover-foreground: 24 52% 3%;
    --card: 24 60% 98%;
    --card-foreground: 24 52% 3%;
    --border: 24 14% 92%;
    --input: 24 14% 92%;
    --primary: 24 100% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 24 3% 86%;
    --secondary-foreground: 24 3% 26%;
    --accent: 24 3% 86%;
    --accent-foreground: 24 3% 26%;
    --destructive: 20 96% 28%;
    --destructive-foreground: 20 96% 88%;
    --ring: 24 100% 54%;
    --chart-1: 24 100% 54%;
    --chart-2: 24 3% 86%;
    --chart-3: 24 3% 86%;
    --chart-4: 24 3% 89%;
    --chart-5: 24 103% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 39% 4%;
    --foreground: 24 36% 99%;
    --muted: 24 13% 15%;
    --muted-foreground: 24 5% 68%;
    --popover: 24 39% 4%;
    --popover-foreground: 24 36% 99%;
    --card: 24 39% 4%;
    --card-foreground: 24 36% 99%;
    --border: 24 14% 13%;
    --input: 24 14% 13%;
    --primary: 24 100% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 24 1% 15%;
    --secondary-foreground: 24 1% 75%;
    --accent: 24 1% 15%;
    --accent-foreground: 24 1% 75%;
    --destructive: 20 96% 59%;
    --destructive-foreground: 0 0% 0%;
    --ring: 24 100% 54%;
    --chart-1: 24 100% 54%;
    --chart-2: 24 1% 15%;
    --chart-3: 24 1% 15%;
    --chart-4: 24 1% 18%;
    --chart-5: 24 103% 54%;
  }
} */

@layer base {
  :root {
    --background: 24 61% 98%;
    --foreground: 24 78% 0%;
    --muted: 144 12% 95%;
    --muted-foreground: 144 15% 35%;
    --popover: 24 61% 98%;
    --popover-foreground: 24 78% 0%;
    --card: 24 61% 97%;
    --card-foreground: 0 0% 0%;
    --border: 24 10% 93%;
    --input: 24 10% 93%;
    --primary: 24 100% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 144 100% 54%;
    --secondary-foreground: 144 100% 14%;
    --accent: 264 100% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 85% 26%;
    --destructive-foreground: 4 85% 86%;
    --ring: 24 100% 54%;
    --chart-1: 24 100% 54%;
    --chart-2: 144 100% 54%;
    --chart-3: 264 100% 54%;
    --chart-4: 144 100% 57%;
    --chart-5: 24 103% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 24 43% 1%;
    --foreground: 24 31% 98%;
    --muted: 144 12% 5%;
    --muted-foreground: 144 15% 65%;
    --popover: 24 43% 1%;
    --popover-foreground: 24 31% 98%;
    --card: 24 43% 2%;
    --card-foreground: 24 31% 99%;
    --border: 24 10% 15%;
    --input: 24 10% 15%;
    --primary: 24 100% 54%;
    --primary-foreground: 0 0% 0%;
    --secondary: 144 100% 54%;
    --secondary-foreground: 144 100% 14%;
    --accent: 264 100% 54%;
    --accent-foreground: 0 0% 100%;
    --destructive: 4 85% 59%;
    --destructive-foreground: 0 0% 100%;
    --ring: 24 100% 54%;
    --chart-1: 24 100% 54%;
    --chart-2: 144 100% 54%;
    --chart-3: 264 100% 54%;
    --chart-4: 144 100% 57%;
    --chart-5: 24 103% 54%;
  }
}

/* @layer base {
  :root {
    --background: 342 38.46% 94.9%;
    --foreground: 234.78 21.1% 21.37%;
    --muted: 117.39 22.55% 60%;
    --muted-foreground: 27 7% 25%;
    --popover: 342 38.46% 94.9%;
    --popover-foreground: 234.78 21.1% 21.37%;
    --card: 345 40% 98.04%;
    --card-foreground: 234.78 21.1% 21.37%;
    --border: 346 7% 90%;
    --input: 346 7% 90%;
    --primary: 23.95 100% 54.31%;
    --primary-foreground: 342 38.46% 94.9%;
    --secondary: 86.06 67.35% 71.18%;
    --secondary-foreground: 234.78 21.1% 21.37%;
    --accent: 86.06 67.35% 71.18%;
    --accent-foreground: 166 32% 2%;
    --destructive: 10 92% 34%;
    --destructive-foreground: 10 92% 94%;
    --ring: 346 32% 62%;
    --chart-1: 346 32% 62%;
    --chart-2: 166 32% 62%;
    --chart-3: 166 32% 62%;
    --chart-4: 166 32% 65%;
    --chart-5: 346 35% 62%;
    --radius: 0rem;
  }

  .dark {
    --background: 234.78 21.1% 21.37%;
    --foreground: 342 38.46% 94.9%;
    --muted: 117.39 22.55% 60%;
    --muted-foreground: 27 7% 25%;
    --popover: 346 33% 0%;
    --popover-foreground: 346 16% 98%;
    --card: 86.06 0% 3.85%;
    --card-foreground: 346 16% 98%;
    --border: 346 7% 10%;
    --input: 346 7% 10%;
    --primary: 23.95 100% 54.31%;
    --primary-foreground: 342 38.46% 94.9%;
    --secondary: 86.06 67.35% 71.18%;
    --secondary-foreground: 234.78 21.1% 21.37%;
    --accent: 23.95 100% 54.31%;
    --accent-foreground: 180 0.79% 75.1%;
    --destructive: 10 92% 60%;
    --destructive-foreground: 10 92% 0%;
    --ring: 346 32% 62%;
    --chart-1: 346 32% 62%;
    --chart-2: 166 32% 62%;
    --chart-3: 166 32% 62%;
    --chart-4: 166 32% 65%;
    --chart-5: 346 35% 62%;
  }
} */

.ViralLink__StyledViralLink-ovqlyz-0 fEqgo {
  display: none !important;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: var(--background);
}
