@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1ece0;
  --foreground: 32 27% 74%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #031625;
    --foreground: 206 85% 8%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 206 85% 8%;
    --foreground: 32 27% 74%;
    --card: 187 34% 26%;
    --card-foreground: 32 27% 74%;
    --popover: 187 34% 26%;
    --popover-foreground: 32 27% 74%;
    --primary: 17 42% 57%;
    --primary-foreground: 206 85% 8%;
    --secondary: 32 27% 74%;
    --secondary-foreground: 206 85% 8%;
    --muted: 186 34% 34%;
    --muted-foreground: 32 27% 84%;
    --accent: 186 34% 34%;
    --accent-foreground: 32 27% 74%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 206 85% 8%;
    --border: 186 34% 34%;
    --input: 186 34% 34%;
    --ring: 17 42% 57%;
    --radius: 0rem;
    --chart-1: 17 42% 57%;
    --chart-2: 32 27% 74%;
    --chart-3: 186 34% 34%;
    --chart-4: 187 34% 26%;
    --chart-5: 206 85% 28%;
  }

  .dark {
    --background: 32 27% 74%;
    --foreground: 206 85% 8%;
    --card: 17 42% 57%;
    --card-foreground: 206 85% 8%;
    --popover: 17 42% 57%;
    --popover-foreground: 206 85% 8%;
    --primary: 187 34% 26%;
    --primary-foreground: 32 27% 74%;
    --secondary: 206 85% 8%;
    --secondary-foreground: 32 27% 74%;
    --muted: 186 34% 34%;
    --muted-foreground: 206 85% 18%;
    --accent: 186 34% 34%;
    --accent-foreground: 32 27% 74%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 32 27% 74%;
    --border: 186 34% 34%;
    --input: 186 34% 34%;
    --ring: 187 34% 26%;
    --chart-1: 187 34% 26%;
    --chart-2: 206 85% 8%;
    --chart-3: 186 34% 34%;
    --chart-4: 32 27% 74%;
    --chart-5: 17 42% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: var(--background);
}
